.userPassword_container {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.userPassword_container .password_container {
    width: 70%;
    height: 70vw;
    border-radius: 5vw;
    box-shadow: 1px 1px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
}

.password_container h1 {
    background-color: transparent;
    color: aliceblue;
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-size: 8vw;
}
.password_container input {
    width: 80%;
    padding: 10px;
    border-radius: 3vw;
    font-size: 5vw;
}